.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.number {
  text-align: right;
}

.td, .th {
  border: 1px solid black;
  padding: 2px;;
  background: yellow;
}
.table {
  border: 1px solid;
  border-collapse: collapse;
  background: yellow;  
}

.efcst {
  background-color: powderblue;  
}
.etd, .eth {
  border: 1px solid gray;
  padding: 3px
}
.etable {
  background-color: lightblue;
  padding: 10px;
}
div {
  padding: 2px;
}



.party-name {
  width: 100px;
}

.panel {
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
}
.country-section {
  width:min-content;
  background-color: greenyellow;
  border: solid grey;
}

.constituency-section {
  width:fit-content;
  background-color: palegreen;
  border: solid grey;
}

.country-label {
  text-decoration: underline;
}
.control-panel {
  width:min-content;
  background-color: orange;
  border: solid grey;
}

.name {
  text-align: left;
  width: 100px;
}


.popup {
  background-color: chartreuse;
  position: absolute;
  padding: 20px;
  border-radius: 20px;;
}

.popup-table {
  border: 1px solid gray;
  padding: 3px
}

.div_row {
  display: flex;
  flex-direction: row;
}

.hover_constituency {
  display: block;
  width:fit-content;
  position: relative;
  background-color: white;
  z-index: 99;
}

.LAB {
  background-color: #E4003B;
  color: yellow;
}

.CON {
  background-color: #0087DC;
}

.LD {
  background-color: 	#FAA61A;
}

.GRN {
  background-color: #528D6B;
}

.REF {
  background-color: 	#12B6CF;
}

.PC {
  background-color: 	#005B54;
  color: yellow;
}

.SNP {
  background-color: 	#FDF38E;
}

.DUP {
  background-color: #D46A4C;
}

.SF {
  background-color: #326760
}

.UUP {
  background-color: #48A5EE
}

.SDLP {
  background-color: #2AA82C
}

.APNI {
  background-color: #F6CB2F
}

svg text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
svg text::selection {
  background: none;
}

@media print {
  
.LAB, .CON, .LD, .REF, .GRN, .REF, .PC, .SNP {
  background-color: white;
  color: black;
}
.efcst {
  background-color: white;  
}
.etd, .eth {
  border: solid black 0.2px;
  padding: 1px;
  font-size: x-small;
}
.etable {
  border: solid black 0.2px;
  padding: 1px;
}
.efcst {
  background-color: powderblue;  
}
.panel {
  border-radius: 0px;
  margin: 1px;
  padding: 5px;
  font-size: small;
}
.country-section, .constituency-section, .control-panel {
  width: fit-content;
  background-color: white;
  border: none;
}
.country-label {
  text-decoration: underline;
}
h3 {
  font-size: small;
}
}