.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.number {
  text-align: right;
}

.td, .th {
  border: 1px solid black;
  padding: 2px;;
  background: yellow;
}
.table {
  border: 1px solid;
  border-collapse: collapse;
  background: yellow;  
}

.efcst {
  background-color: powderblue;  
}
.etd, .eth {
  border: 1px solid gray;
  padding: 3px
}
.etable {
  background-color: lightblue;
  padding: 10px;
}
div {
  padding: 2px;
}



.party_name {
  width: 100px;
}

.panel {
  border-radius: 20px;
  margin: 10px;
  padding: 5px;
}
.country_section {
  width:min-content;
  background-color: greenyellow;
  border: solid grey;
}

.constituency_section {
  width:fit-content;
  background-color: palegreen;
  border: solid grey;
}

.country_label {
  text-decoration: underline;
}
.control_panel {
  width:min-content;
  background-color: orange;
  border: solid grey;
}

.name {
  text-align: left;
  width: 100px;
}


.popup {
  background-color: chartreuse;
  position: absolute;
  padding: 20px;
  border-radius: 20px;;
}

.popup_table {
  border: 1px solid gray;
  padding: 3px
}

.div_row {
  display: flex;
  flex-direction: row;
}

.LAB {
  background-color: #E4003B;
  color: yellow;
}

.CON {
  background-color: #0087DC;
}

.LD {
  background-color: 	#FAA61A;
}

.GRN {
  background-color: #528D6B;
}

.REF {
  background-color: 	#12B6CF;
}

.PC {
  background-color: 	#005B54;
  color: yellow;
}

.SNP {
  background-color: 	#FDF38E;
}